/*lector universal*/
*{
    background-color: yellow;
}

/*selector de etiqueta*/
h1{
    background-color: green;

}
/*selector de clase*/
p.fondoazul{
    background-color: blue;
}


/*selector de id*/
p#uniconaranja{
    background-color: orange;
}