body{
    background-color: lightgrey;

}
div.container{
    
    background-color: lightgreen;
    border-radius: 10px;
    height: 550px;
    width: 75%;
    position: relative;
    top: 30px;
    left: 10%;
}
div.fixed-sidebar{
    border: 3px black solid;
    width: 5%;
    height: 300px;
    text-align: center;
    position: fixed;
    top: 180px;
    left: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container nav{
    background-color: gray;
    color: white;
    position: sticky;
    top: 2px;
    z-index: 10;
}


.fixed-sidebar img{
    width: 50px;
    height: 50px;
}

nav div{
    display: inline-block;
    font-size: 1,5rem;
    width: 20%;
    padding: 10px;
}
.fixed-sidebar img{
    width: 50px;
    height: 50px;

}
{


}
ul{
    padding-left: 0px;

}
.fixed-sidebar li{
    list-style-type: none;
}
figure{
    border: 3px solid black;
    width: 15%;
    background-color: white;
    border-radius: 10%;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    position: absolute;
}
figure img{
    width: 200px;

}

#li1{
    rotate: -45deg;
    top: 100px;
    left: 300px;
    z-index: 4;
}
#li2{
    rotate: 45deg;
    top: 100px; 
    left: 300px;
    z-index: 3; 
}
#li3{
    rotate: -15deg;
    top: 100px;
    left: 300px;
    z-index: 2;
}
#li4{
    rotate: 15deg;
    top: 100px;
    left: 300px;
    z-index: 1;

}